* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
}

input {
    height: 48px;
    width: 333px;
    font-size: 14px;
    font-family: Helvetica;
    font-weight: 300;
    color: #000;
    line-height: 14px;
    text-align: left;
    padding: 0 12px;
    background: transparent;
    border: 1px solid #c9c9c9;
    box-sizing: border-box;
}

button {
    height: 48px;
    width: 333px;;
    font-size: 14px;
    font-family: Helvetica;
    font-weight: 300;
    color: #fff;
    line-height: 14px;
    text-align: center;
    padding: 0 12px;
    background: #3AC0C7;
    border: 1px solid #3AC0C7;
    box-sizing: border-box;
}

.close-login {
    position: fixed;
    top: 60px;
    right: 60px;
}

.close-login > a > img {
    height: 30px;
    width: 30px;
}

.login-form {
    position: fixed;
    top: 200px;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}

.login-form > h3 {
    padding-bottom: 86px;
    color: #000;
    line-height: 0.8em;
    padding-top: 20px;
    font-weight: normal;
    font-size: 56px;
    font-family: 'eb garamond',serif;
}

.form-box {
    width: 800px;
    margin: auto;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.box-left {
    flex: 2;
    margin-right: 60px;
}

.box-input {
    margin-bottom: 20px;
    height: 48px;
    width: 333px;
}

.checkbox-box {
    margin-bottom: 0;
    font-family: Helvetica;
    font-size: 14px;
    line-height: 35px;
}

.checkbox-div {
    float: left;
}

.checkbox-div > .box-checkbox{
    height: 18px;
    width: 18px;    
    vertical-align: text-bottom;
}

.box-input > button:hover {
    background: rgba(25,192,199,.7);
    border: none;
}

.login-tip {
    font-family: Helvetica;
    font-size: 14px;
}

.link-login {
    font-weight: bold;
    color: #000;
}0

.error-msg{
    font-weight: bold;
    color: #ff0000;
}

.link-login:hover {
    text-decoration: underline;
}

.box-line {
    border-right: 1px solid #c9c9c9;
    margin-top: -10px;
}

.box-right {
    flex: 2;
    margin-left: 60px;
}

.box-input > .btn-fb {
    background: #3B5998;
    border: 1px solid #3B5998;
}

.box-input > .btn-gl {
    background: #E53935;
    border: 1px solid #E53935;
}

.box-input > .btn-fb:hover {
    background: rgba(59,89,152,.7);
    border: none;
}


.box-input > .btn-gl:hover {
    background: rgba(229,57,53,.7);
    border: none;
}

/* 忘记密码 */
.reset-pwd h3 {
    padding-bottom: 30px;
    margin-top: 20px;
}

.reset-pwd p {
    padding-bottom: 80px;
    font-family: Helvetica;
    font-size: 16px;
}

.reset-input {
    width: 450px;
    margin: auto;
    margin-bottom: 20px;
}

.reset-input input {
    width: 450px;
}

.reset-input > button {
    width: 450px;
}

.reset-input > button:hover {
    background: rgba(25,192,199,.7);
    border: none;
}

.log-in {
}

.reset-pwd{
    display: none;
}

