.note-box {
    margin: auto;
    width: 980px;
}

.note-title {
    height: 80px;
    line-height: 80px;
    max-width: 940px;
}

.note-title-li {
    display: inline-block;
    font-family: avenir-lt-w01_35-light1475496,sans-serif;
    font-size: 15px;
    white-space: nowrap;
    margin-left: 40px;
    cursor: pointer;
}

.title-action {
    color: rgba(58,192,199,1);
}

.note-content {
    /* width: 980px; */
    padding: 14px 20px;
    margin: 0 auto;
}

.note-block {
    padding: 16px;
}

.note-article {
    max-height: 372px;
    box-sizing: border-box;
    display: flex;
    height: 372px;
    border: 1px solid rgba(242,242,242,0.75);
}

.note-block-img {
    flex: 0 0 50%;
    /* height: 362px; */
    min-height: 362px;
    background: url(../img/noteImg.png) no-repeat;
    background-size: 100% 100%;
}

.note-block-content {
    flex:  0 0 50%;
    box-sizing: border-box;
    padding: 40px 48px 37px;
}

.note-user-massage {
    height: 55px;
}

.note-content-user {
    float: left;
    width: 330px;
    box-sizing: border-box;
    padding-left: 30px;
    font-family: avenir-lt-w01_35-light1475496, sans-serif;
    font-size: 12px;
    color: #000;
}

.user-name-a {
    color: #000;
}

.user-name-a:hover {
    color: rgb(58, 192, 199);
} 

.note-content-more {
    float: left;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.note-content-more > img {
    width: 19px;
    height: 19px;
    cursor: pointer;
}

.share-block {
    
    margin-left: 180px; 
    margin-top: -30px;
    display: none;
    width: 200px;
    height: 50px;
    background: #fff;
    padding: 16px 18px 15px;
    box-sizing: border-box;
    font-family: avenir-lt-w01_35-light1475496,sans-serif;
    font-size: 14px;
    box-shadow: 0 3px 8px 0 rgba(0,0,0,.2);
}

.share-block img {
    width: 18px;
    height: 18px;
    flex: 1;
    margin-right: 15px
}

.share-block span {
    flex: 7;
}

.note-content-title {
    height: 49px;
    font-size: 28px;
    font-family: "eb garamond", serif;
}

.note-content-title a {
    color: #000;
}

.note-content-title a:hover {
    color: rgb(58, 192, 199);
} 

.note-content-descript {
    font-family: avenir-lt-w01_35-light1475496, sans-serif;
    font-size: 16px;
    height: 114px;
    word-break: break-all;
    overflow: hidden;
}

.note-content-descript a {
    color: rgba(0,0,0,.7);
}

.note-content-descript a:hover {
    color: rgb(58, 192, 199);
} 


.note-view {
    height: 67px;
    border-top: 1px solid #ddd;
    margin-top: 40px;
    font-size: 12px;
    font-family: avenir-lt-w01_35-light1475496, sans-serif;
    padding-top: 15px;
}

.see-view {
    padding-left: 15px;
    color: #000;
}

.see-view:hover {
    color: rgb(58, 192, 199);
} 

.note-like {
    float: right;
    vertical-align: middle;
}

.note-like span {
    font-size: 12px;
    font-family: avenir-lt-w01_35-light1475496, sans-serif;
    margin-right: 5px;
}


.note-like > img {
    width: 15px;
    vertical-align: bottom;
    cursor: pointer;
}


/* 暂未开放 start */
.uncultivated-note-box {
    min-height: 540px;
    height: 540px;
}

.note-uncultivated {
    text-align: center;
    width: 100%;
}

.note-uncultivated p:nth-child(1) {
    font-family: "eb garamond",serif;
    line-height: normal;
    font-size: 32px;
    max-width: 620px;
    line-height: 1.5;
    margin: 150px auto 0 auto;
}

.note-uncultivated p:nth-child(2) {
    text-align: center;
    width: 100%;
    max-width: 620px;
    font-size: 16px;
    margin: auto;
    font-family: avenir-lt-w01_35-light1475496, sans-serif;
}
/* 暂未开放 end */

/* detailPage.css start  */
.detail-article {
    box-sizing: border-box;
    /* display: flex; */
    border: 1px solid rgba(242,242,242,0.75);
}

.detail-article-content {
    width: 100%;
    padding: 40px 80px;
    box-sizing: border-box;
}

.detail-user-info {
    padding: 15px 40px;
    box-sizing: border-box;
    font-size: 14px;
    font-family: avenir-lt-w01_35-light1475496, sans-serif;
}

.detail-more-img {
    width: 19px;
    height: 19px;
    float: right;
}

.detail-article-share {
    margin-left: 510px;
    margin-top: -10px;
}

.detail-article-title {
    font-size: 40px;
    margin: 20px 0 10px 0;
}

.detail-update {
    font-family: avenir-lt-w01_35-light1475496, sans-serif;
    font-size: 14px;
}

.detail-page-content {
    padding: 20px 0;
    word-break: break-all;
    word-wrap: break-word;
    font-family: avenir-lt-w01_35-light1475496, sans-serif;
    border-bottom: 1px solid rgba(242,242,242,0.75); 
}

.detail-page-content img{
    padding: 30px 0;
    display: block;
}

.page-subtitle {
    border-left: 2px solid rgba(25,192,199,1);
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
    margin: 20px 0;
}

.page-paragraph {
    font-weight: bold;
    font-size: 18px;
    margin: 20px 0;
}

.page-content-share {
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    margin-top: 30px;
}

.page-content-share img {
    width: 19px;
    height: 19px;
    padding: 15px;
    display: inline-block;
}

.share-relax {
    float: right;
    line-height: 50px;
    padding-right: 15px;
    font-size: 14px;
}

.page-content-share a {
    color: #000;
}

.share-relax:hover {
    color: rgba(25,192,199,1);;
}

.page-content-view {
    padding: 15px;
    font-size: 14px;
    font-family: avenir-lt-w01_35-light1475496,sans-serif;
}

.click-like {
    float: right;
}

.click-like > img {
    width: 15px!important;
    height: 15px!important;
    display: inline-block;
    vertical-align: text-top;
    padding: 0;
    margin-left: 5px;
}

.content-comment {
    padding: 0 80px;
    box-sizing: border-box;
    font-family: avenir-lt-w01_35-light1475496, sans-serif;
}

.input-comment {
    padding-bottom: 40px; 
}

.input-comment textarea {
    width: 100%;
    height: 200px;
    resize: none;
    border: 1px solid #eee;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.submit-comment {
    text-align: right;
}

.submit-comment button {
    text-align: right;
    padding: 7px 18px;
    border-radius: 2px;
    font-family: helvetica-w01-light,helvetica-w02-light,sans-serif;
    border: 1px solid rgb(58, 192, 199);
    color: rgb(58, 192, 199);
    background: #fff;
    outline: none;
}

.submit-comment .cancel-submit {
    margin-right: 20px;
}

.submit-comment .confirm-submit {
    border: 1px solid rgb(58, 192, 199);
    color: #fff;
    background: rgb(58, 192, 199);
}

.comment-list {
    padding-bottom: 40px;
}

.comment-list-box {
    margin-top: 20px;
}

.comment-block {
    display: flex;
    margin: 10px 0;
    border-top: 1px solid rgba(242,242,242,0.75);
    padding: 20px 0;
    box-sizing: border-box;
}

.comment-img {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 20px;
}

.comment-content {
    display: inline-block;
}

.comment-content p {
    font-size: 15px;
    padding: 2px;
}

.comment-content .comment-date {
    font-size: 14px;
    color: #999;
}

.comment-content .comment-detail {
    margin-top: 10px;
    font-size: 16px;
    word-break: break-all;
    word-wrap: break-word;
}

.recent-posts {
    border: none;
    margin-top: 30px;
}

.recent-posts-title {
    font-family: avenir-lt-w01_35-light1475496, sans-serif;
    font-size: 18px;
    width: 100%;
}

.recent-posts-title a {
    color: #000;
}

.see-all-posts {
    float: right;
    font-size: 14px;
}

.see-all-posts:hover {
    color: rgba(25,192,199,1);
}

.recent-posts-box {
    display: flex;
    margin-top: 30px;
    text-align: center;
}

.post-detail {
    flex: 1;
    padding: 0 10px;
    box-sizing: border-box;
}

.post-detail-box {
    border: 1px solid rgba(242,242,242,0.75);
}

.post-detail-box img {
    width: 280px;
    height: 165px;
}

.post-content {
    padding: 24px;
    box-sizing: border-box;
}

.post-content-title {
    font-size: 18px;
    font-family: "eb garamond", serif;
    height: 60px;;
    
}

.post-content-view {
    border-top: 1px solid rgba(242,242,242,0.75);
    padding-top: 10px;
    box-sizing: border-box;
    font-size: 12px;
    vertical-align: text-bottom;
    font-family: avenir-lt-w01_35-light1475496, sans-serif;
}

.post-content-view-left {
    float: left;
}

.post-content-view-left a {
    color: #000;
    margin-left: 5px;
}

.post-content-view-left a:hover {
    color: rgba(25,192,199,1);
}

.post-content-view-left img {
    vertical-align: bottom;
    height: 19px;
    width: 19px;
} 

.leave-login {
    margin-top: 30px;
}

.leave-login-box {
    text-align: center;
    font-family: avenir-lt-w01_35-light1475496, sans-serif;
    font-size: 15px;
}

.leave-login-box a {
    color: #000
}

.leave-login-box a span{
    color: rgba(25,192,199,1);
}
/* detailPage.css  end  */

/* about-us.css start */
.about-us-box {
    display: flex;
    width: 980px;
    margin: auto;
    padding: 60px 40px;
    box-sizing: border-box;
}

.product {
    flex: 1;
    margin-right: 40px;
    word-break: break-all;
    word-wrap: break-word;
}

.product-img {
    flex: 1;
    margin-left: 40px;
}

.product-title {
    font-size: 36px;
    font-family: "eb garamond", serif;
    margin-bottom: 30px;
}

.product-content {
    font-size: 15px;
    font-family: avenir-lt-w01_35-light1475496, sans-serif;
    color: rgb(105,105,105);
    margin-bottom: 20px;
}

.product-tip {
    font-size: 15px;
    font-family: avenir-lt-w01_35-light1475496, sans-serif;
    color: rgb(105,105,105);
}

.product-tip-mail {
    margin-top: 5px;
}

.product-tip-mail a {
    color: rgba(25,192,199,1);
}
/* about-us.css end */

/* my-post.css */
.user-list , .user-form {
    margin: auto;
    width: 980px;
    padding: 30px 0;
    box-sizing: border-box; 
}

.add-user {
    margin: 20px 0;
}

.add-user button {
    background: rgb(58, 192, 199);
    border: none;
    color: #fff;
    padding: 8px 30px;
    cursor: pointer;
} 

.list-box {
    border: 1px solid rgb(245, 245, 245);
    width: 100%;
    text-align: center;
    font-size: 14px;
    border-collapse: collapse;
}

.list-box thead {
    font-family: helvetica-w01-light,helvetica-w02-light,sans-serif;
    box-sizing: border-box;
}

.list-box thead tr {
    background: rgb(245, 245, 245);
}

.list-box thead tr th {
    padding: 10px 5px;
    box-sizing: border-box
}

.list-box tbody tr td {
    padding: 10px 5px;
}

.list-box tbody tr {
    border-bottom: 1px solid rgb(245, 245, 245);
}

.delete-user {
    color: #FF6161;
    cursor: pointer;
}

.add-btn {
    text-align: center;
    margin: 10px;
}

.add-btn button {
    padding: 8px 30px;
    border-radius: 2px;
    font-family: helvetica-w01-light,helvetica-w02-light,sans-serif;
    border: 1px solid rgb(58, 192, 199);
    color: #fff;
    background: rgb(58, 192, 199);;
    margin: 0 15px;
    outline: none;
}

.add-btn .back-list {
    border: 1px solid rgb(58, 192, 199);
    color: rgb(58, 192, 199);
    background: #fff;
}


/* 弹窗 start */
.model-background {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000000;
    opacity: 0.3;
    z-index: 1001;
}

.model-body {
    background: #ffffff;
    position: fixed;
    top: 15%;
    width: 60%;
    left: 50%;
    min-width: 450px;
    max-width: 600px;
    transform: translateX(-50%);
    z-index: 1002;
    border-radius: 5px;
    min-height: 250px;
    font-family: helvetica-w01-light,helvetica-w02-light,sans-serif;
}

.model-title {
    line-height: 50px;
    font-size: 16px;
    padding: 0 20px;
    font-weight: bold;
    border-bottom: 1px solid #E8E8E8;
    font-family: helvetica-w01-light,helvetica-w02-light,sans-serif;
}

.model-title-img {
    width: 20px;
    height: 20px;
    margin-top: -3px;
}

.model-close {
    position: absolute;
    top: 8px;
    right: 10px;
    z-index: 110;
    background: #ffffff;
    color: #888;
    height: 40px;
    width: 40px;
    font-size: 30px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

.model-content {
    padding: 20px 20px 10px 20px;
    font-size: 15px;
    font-family: helvetica-w01-light,helvetica-w02-light,sans-serif;
}

.model-footer {
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    padding: 20px;
    font-family: helvetica-w01-light,helvetica-w02-light,sans-serif;
}

.model-footer > button {
    padding: 7px 18px;
    border-radius: 2px;
    font-family: helvetica-w01-light,helvetica-w02-light,sans-serif;
    border: 1px solid rgb(58, 192, 199);
    color: rgb(58, 192, 199);
    background: #fff;
    margin: 0 15px;
    outline: none;
}

.model-footer > .confirm-add {
    background: rgb(58, 192, 199);
    color: #fff;
}
/* 弹窗 end */

.add-user-form {
    margin: auto;
    text-align: center;
    width: 90;
}

.add-user-form li {
    margin: 20px 0;
    position: relative
} 

.add-user-form li span {
    top: 5px;
    left: 5%;
    position: absolute;
} 

.add-user-form li input , .add-user-form li textarea {
    height: 35px;
    line-height: 35px;
    border: 1px solid #E8E8E8;
    border-radius: 3px;
    padding: 0 10px;
    box-sizing: border-box;
    outline: none;
    width: 75%;
    margin-left: 10px;
} 

.add-user-form li textarea {
    resize: none;
    height: auto;
    min-height: 150px;
}

.add-user-form li .img-input {
    width: 60%;
}

.add-user-form li .img-btn {
    width: 14%;
    height: 35px;
    border-radius: 3px;
    outline: none;
    background: #E8E8E8;
    border: 1px solid #ddd;
    vertical-align: top;
}

.delete-tip {
    margin-bottom: 50px;
}