<footer class="bottom-box">
    <div class="bottom-bg">
        <img src="/static/img/bottomBg.png" alt="">
    </div>
    <div class="bottom-content">
        <div class="content-left">
            <!-- <img src="img/bottomImg.png" alt=""> -->
        </div>
        <div class="content-right">
            <div class="about-us">ABOUT US</div>
            <div class="us-info">
                <span>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</span>

                <span class="us-info-add">​XXXXXXXXXXXXXXXXXXXXXXXXXXXX</span>
            </div>
            <div class="us-more">
                <a href="/about" class="us-more-a">
                    <div>
                        READ MORE
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="bottom-copy">
        <div class="copy-css">© 2019 by Travel Sharer.</div>
    </div>
</footer>