
<div class="nav-top">
    <div class="nav-login">
        <div class="nav-head">

                <img class="login-img" src="/static/img/head.png" alt="">
                 {%if request.session.email|default:'' != ''%}
                    <a href="/userinfo"><span>{{request.session.email}}</span></a>|<a href="/loginout"><span>login out</span></a>
                {% else %}
                     <a href="/login"><span>Log In</span></a> <a href="/register"><span>/Sign Up</span></a>
                {% endif %}
        </div>
        <div class="nav-link">
            <a href="https://www.facebook.com/">
                <img src="/static/img/fb.png" alt="">
            </a>
            <a href="https://accounts.google.com/o/oauth2/auth?response_type=code&client_id=137249259650-q2vgft7r8hg4phhugiaj1gqco7iuqll8.apps.googleusercontent.com&redirect_uri=http://localhost:8000/oauth2callbackgoogle&scope=email">
                <img src="/static/img/ins.png" alt="">
            </a>
        </div>
    </div>
    <nav class="nav-list">
        <ul class="nav-detail">
            <li><a href="/" {% comment %}class="nav-action"{% endcomment %}>Hmoe</a></li>
            <li><a href="/travelNote">Travel Note</a></li>
            <li>
                <a href="/pics">Find Traveller</a>
{#                    <ul class="nav-second-nav">#}
{#                        <li><a href="post_artcle.html">pitcure</a></li>#}
{#                        <li><a href="post_artcle.html">article</a></li>#}
{#                    </ul>#}
            </li>
            <li><a href="/discover">Discover</a></li>
            <li>
                <a href="#">My Post</a>
                <ul class="nav-second-nav">
                    <li><a href="/myPics">pitcure</a></li>
                    <li><a href="/myArticle">article</a></li>
                </ul>
            </li>
            <li><a href="/members">Members</a></li>
            <li><a href="/collection">My Collection</a></li>
            <li>
                <a href="/about">About</a>
            </li>
        </ul>

                <div class="nav-search">
                    <form method="post" action="/find_user/" id="search1">
                        {% csrf_token %}
                        <img src="/static/img/search.png" alt="" onclick="imgclick1()">
                        <input type="text" placeholder="Search " name="key">
                    </form>
                </div>

    </nav>
</div>
