{%extends 'base.html'%}

{%block content%}
<div class="center-box">
    <div class="about-us-box">
        <div class="product">
            <p class="product-title">About Us</p>
            <p class="product-content">
                This the place for discovery,share
                XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
                XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                <div class="product-tip">Contact Us:</div>
                <div class="product-tip product-tip-mail"><a href="">wl19950318@gmail.com</a></div>
            </p>
        </div>
        <div class="product-img">
            <img src="/static/img/findBlock.png" alt="">
        </div>
    </div>
</div>
{%endblock content%}