{%extends 'base.html'%}

{%block content%}
<div class="center-box">
    <div class="user-list">
        <div class="add-user">
        </div>
        <table class="list-box">
            <thead>
                <tr>
                    <th>travel note</th>
                    <th>author</th>
                    <th>remark</th>
                    <th>collection time</th>
                    <th>operate</th>
                </tr>
            </thead>
            <tbody>
            {% for noteCollection in noteCollections %}
                <tr>
                    <td><a href="/detailPage/{{ noteCollection.noteId.id }}" target="_blank">{{ noteCollection.noteId.title }}</a></td>
                    <td>{{ noteCollection.noteId.author }}</td>
                    <td>{{ noteCollection.noteId.remark }}</td>
                    <td>{{ noteCollection.createTime }}</td>
                    <td><a href="/delcollection/{{ noteCollection.id }}" class="delete-comment">Del</a></td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
</div>
{%endblock content%}