{%extends 'base.html'%}

{%block content%}
     <div class="center-box">
        <!-- 轮播 start -->
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="/static/img/bg1.png" class="swiper-img"></div>
                <div class="swiper-slide"><img src="/static/img/bg2.png" class="swiper-img"></div>
            </div>
            <!-- 如果需要分页器 -->
            <div class="swiper-pagination swiper-pagination-white"></div>

            <!-- 如果需要导航按钮 -->
            <div class="swiper-button-prev swiper-button-white"></div>
            <div class="swiper-button-next swiper-button-white"></div>
        </div>
        <div class="swiper-center-text">
            <div class="center-text-font-1">Your</div>
            <div class="center-text-font-2">TRAVEL</div>
            <div class="center-text-font-3">goes here</div>
        </div>
        <!-- 轮播 end -->
        <!-- 内容 start -->
        <section class="home-content">
            <div class="home-title">
                <div class="title-line"></div>
                <div class="title-block">
                    <span>Discover more possibilities for your trip.</span>
                </div>
            </div>
            <div class="content-block">
                <div class="block-left">
                    <div class="block-bg">
                        <img src="/static/img/block.png" class="block-img">
                        <a href="/post_artcle" class="block-link"><span>Share Experience</span></a>
                    </div>
                    <div class="img-skrew skrew-tl"></div>
                    <div class="img-skrew skrew-tr"></div>
                    <div class="img-skrew skrew-br"></div>
                    <div class="img-skrew skrew-bl"></div>
                </div>
                <div class="block-right">
                    <div class="block-bg">
                        <img src="/static/img/block2.png" class="block-img">
                        <a href="/pics" class="block-link"><span>Find Traveller</span></a>
                    </div>
                    <div class="img-skrew skrew-tl"></div>
                    <div class="img-skrew skrew-tr"></div>
                    <div class="img-skrew skrew-br"></div>
                    <div class="img-skrew skrew-bl"></div>
                </div>
            </div>
        </section>
        <section class="content-title">
            <div class="title-type">
                Discover in
                <span style="border-right: 2px solid #CDBCC7;width: 2px;"></span>
            </div>
            <div class="title-type-div title-type-1">
                <a href="/discoverType/2">Destination</a>
            </div>
            <div class="title-type-div title-type-2">
               <a href="/discoverType/3"> Hotel</a>
            </div>
            <div class="title-type-div title-type-3">
                <a href="/discoverType/4"> Summer</a>
            </div>
        </section>
        <div class="content-detail">
            <ul>
                {% for note in notes %}
                    <li class="content-detail-li">
                        <div class="content-div">
                            <div class="div-img">
                                <a href="">
                                    <img src="{{ note.picUrl }}" alt="" height="279px" width="265px">
                                </a>
                            </div>
                            <div class="div-data">
                                <span>{{ note.createTime }}</span>
                            </div>
                            <div class="div-title">
                                <span>{{ note.title }}</span>
                            </div>
                            <div class="div-content">
                                <span>{{ note.remark }}</span>
                            </div>
                            <div class="div-line"></div>
                            <div class="div-author">
                                <div class="author-img">
                                    <img src="/static/img/detailH.png" alt="">
                                </div>
                                <div class="author-name">
                                    <span>{{ note.author }}</span>
                                </div>
                                <div class="author-mail">
                                    <a href="xxx@xxxxx.com">
                                        <span>{{ note.userId.email }}</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
{%endblock content%}

{%block endscript%}
<script>
    var mySwiper = new Swiper ('.swiper-container', {
        direction: 'horizontal',
        loop: true,

        // 如果需要分页器
        pagination: {
            el: '.swiper-pagination',
        },

        // 如果需要前进后退按钮
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        autoplay: {
            delay: 3000,
            stopOnLastSlide: false,
            disableOnInteraction: true,
        },
    })
</script>
{%endblock endscript%}