{%extends 'base.html'%}

{%block content%}
<div class="center-box">
    <div class="user-list">
        <div class="add-user">
        </div>
        <table class="list-box">
            <thead>
                <tr>
                    <th></th>
                    <th>title</th>
                    <th>remark</th>
                    <th>comment time</th>
                    <th>operate</th>
                </tr>
            </thead>
            <tbody>
            {% for pic in tbictures %}
                <tr>
                    <td><img src="{{ pic.picUrl }}" width="50px" height="50px"></td>
                    <td>{{ pic.title }}</td>
                    <td>{{ pic.remark }}</td>
                    <td>{{ pic.createTime }}</td>
                    <td><a href="/delPic/{{ pic.id }}" class="delete-comment">Del</a></td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
</div>
{%endblock content%}