{%extends 'base.html'%}

{%block headscript%}
    <script src="/static/js/tinymce.min.js"></script>
    <script>
    tinymce.init({
    selector: '#content',
    plugins: ["image", "code"],
    file_browser_callback: function(field_name, url, type, win) {
    if(type=='image') $('#my_form input').click();
    }
    });
</script>
{%endblock headscript%}


{%block content%}
<div class="center-box">
    <form class="am-form am-form-horizontal" method="post" enctype="multipart/form-data" data-am-validator>
         {% csrf_token %}
        <div class="user-form" >
            <ul class="add-user-form">
                <li><span>title</span> <input type="text" name="title" required="required"></li>
                <li><span>author</span> <input type="text" name="author" required="required"></li>
                <li><span>remark</span> <input type="text" name="remark" required="required"></li>
                <li><span>type</span>
                    <select name="type">
                         <option value ="1" selected>Eat</option>
                         <option value ="2" >Travel</option>
                         <option value ="3" >Relax</option>
                    </select>
                </li>

                <li><span>pic</span>
                    <input type="file" id="file" name="file" required="required"/>
                </li>

            </ul>
            <textarea name="content" id="content"  ></textarea>
            <div class="add-btn">
                <button class="back-list" type="reset">clear</button>
                <button type="submit">submit</button>
            </div>
        </div>
    </form>

<iframe id="form_target" name="form_target" style="display:none"></iframe>
<form id="my_form" action="/upload/" target="form_target" method="post" enctype="multipart/form-data" style="width:0px;height:0;overflow:hidden">
    <input name="image" type="file" onchange="$('#my_form').submit();this.value='';">
</form>
</div>
{%endblock content%}