<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Travel Sharer</title>
    <link rel="stylesheet" href="/static/css/font-family.css">
    <link rel="stylesheet" href="/static/css/login.css">
    <script src="/static/js/jquery-3.3.1.min.js"></script>
</head>
<body>
    <div class="login-box">
        <div class="close-login">
            <a href="/index"> <img src="/static/img/close.png" alt=""></a>
        </div>
        <!-- 注册 start -->
        <div class="login-form sing-up">
            <h3>Sign Up</h3>
            <form method="post" class="am-form" action="/register/">
                    {% csrf_token %}
                    <div class="form-box">
                        <div class="box-left">
                            <div class="box-input">
                                <input type="text" placeholder="Email" name="email">
                            </div>
                            <div class="box-input">
                                <input type="password" placeholder="Password" name="password">
                            </div>
                            <div class="box-input">
                                <input type="password" placeholder="Retype password" name="repassword">
                            </div>
                            <div class="box-input">
                                <button type="submit">Go</button>
                            </div>
                            <div class="box-input">
                                <span class="login-tip">Already a member ? <a  class="link-login" href="/login">Log in</a></span>
                                <br>
                                <span class="error-msg">{{ error }}</span>
                            </div>
                        </div>
                        <div class="box-line"></div>
                        <div class="box-right">
                            <div class="box-input">
                                <button class="btn-fb">Sign up with Facebook</button>
                            </div>
                            <div class="box-input">
                                <button class="btn-gl">Sign up with Google+</button>
                            </div>
                        </div>
                    </div>
            </form>
        </div>
        <!-- 注册 end -->

        <!-- 忘记密码 start -->
        <div class="login-form reset-pwd">
            <h3>Reset Password</h3>
            <p>Please enter your email address</p>
            <div class="reset-box">
                <div class="reset-input">
                    <input type="text" placeholder="Email">
                </div>
                <div class="reset-input">
                    <button>Go</button>
                </div>
            </div>
        </div>
        <!-- 忘记密码 end -->
    </div>
    <script>
        $("#sing-up").click(function(){
            $(".sing-up").hide();
            $(".log-in").show();
            $(".reset-pwd").hide();
        })

        $("#reset-pwd").click(function(){
            $(".reset-pwd").show();
            $(".sing-up").hide();
            $(".log-in").hide();
        })

        $(".btn-gl").click(function(){
            window.open("https://accounts.google.com/o/oauth2/auth?response_type=code&client_id=137249259650-q2vgft7r8hg4phhugiaj1gqco7iuqll8.apps.googleusercontent.com&redirect_uri=http://localhost:8000/oauth2callbackgoogle&scope=email");
        })
    </script>
</body>
</html>