{%extends 'base.html'%}

{%block content%}
<div class="center-box">
    <div class="note-box">
        <ul class="note-title">
            <li class="note-title-li title-action"> <a href="/travelNote">All Posts</a></li>
            <li class="note-title-li"> <a href="/travelType/1">Eat</a></li>
            <li class="note-title-li"><a href="/travelType/2">Travel</a></li>
            <li class="note-title-li"><a href="/travelType/3">Relax</a></li>
        </ul>

        <div class="note-content">

            {% for note in notes %}
                <div class="note-block">
                    <article  class="note-article">
                        <div class="note-block-img">
                            <img src="{{ note.picUrl }}" width="453" height="370">
                        </div>
                        <div class="note-block-content">
                            <div class="note-user-massage">
                                <div class="note-content-user">
                                    <div class="user-name">
                                        <a href="" class="user-name-a">
                                            <span> {{ note.author }}</span>
                                        </a>
                                    </div>
                                    <div class="content-user-data">
                                        <span> {{ note.createTime }}</span>
                                    </div>
                                </div>
                                <div class="note-content-more" >
                                    <img src="/static/img/noteMore.png" alt="">
                                </div>
                            </div>
                            <div class="share-block">
                                <img src="/static/img/share.png" alt="">
                                <a href="/noteCollection/{{  note.id }}"><span>Collection</span></a>
                            </div>
                            <div class="note-content-title">
                                <a href="/detailPage/{{ note.id }}"> {{ note.title }} </a>
                            </div>
                            <div class="note-content-descript">
                                <a href="detailPage.html">
                                    <p>
                                        {{ note.remark }}
                                    </p>
                                </a>
                            </div>
                            <div class="note-view">
                                 {{ note.views }} views <a class="see-view" href="/detailPage/{{ note.id }}">Write a comment</a>
                                <div class="note-like">
                                    <span> {{ note.likes }}</span> <img src="/static/img/like.png" alt="">
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            {% endfor %}

            <div class="note-block">
                <article class="note-article">
                    <div class="note-uncultivated">
                        <p>Posts Coming Soon</p>
                        <p>Explore other categories in this blog or check back later.</p>
                    </div>
                </article>
            </div>
        </div>

    </div>
</div>
{%endblock content%}

{%block endscript%}
<script>
    console.log($('.nav-detail li a'));
    $('.note-content-more').click(function() {
        const shareBtn = $(this).parent('.note-user-massage').next();
        if (shareBtn.css('display') == 'none') {
            $('.share-block').hide();
            shareBtn.show();
        } else {
            shareBtn.hide();
        }
    });
</script>
{%endblock endscript%}