{%extends 'base.html'%}


{%block content%}
<div class="center-box">
    <div class="account-box">
      <div class="a-box-left">
        <div class="per-info" id="now-info">

            {%if user.pic != ''%}
                        <img src="{{ user.pic }}" class="per-img" alt="">
                   {% else %}
                        <img src="/static/img/head.png" class="per-img" alt="">
                   {% endif %}
          <div class="per-name">email</div>
          <a href="#">
            <div class="join-c">
              {{ user.email }}
            </div>
          </a>
          <div class="edit-per">
            <img src="/static/img/noteMore.png" id="note-more" alt="">
            <a id="edit-info-click">
              <div class="edit-box">Edit Profile</div>
            </a>
          </div>
        </div>
        <!-- 点击修改 start -->
          <form method="post" class="am-form" action="/user_pic/" enctype="multipart/form-data">
        <div class="per-info" style="display: none;" id="edit-info">

                    {% csrf_token %}
              <img src="/static/img/detail1.png" id="edit-avatar" class="per-img" alt="">
              <div class="upload-head-img">
                <!-- <input type="file" name="file" accept="image/*" id="upload" style="opacity: 0;width: 0;height: 0;"> -->
                <input type="file" name="file" id="file" accept="image/*"  >
                   {%if user.pic != '' %}
                        <img src="{{ user.pic }}" alt="">
                   {% else %}
                        <img src="/static/img/camera.png" alt="">
                   {% endif %}
                <img src="/static/img/camera.png" alt="">
              </div>
              <div class="per-name">
                <input type="text">
              </div>
              <div class="per-edit-btn">
                <button class="per-edit-cancel" type="button">Cancel</button>
                <button class="per-edit-confirm" type="submit">Save</button>
              </div>
              <div class="edit-per">
                <img src="/static/img/noteMore.png" alt="">
              </div>
        </div>
        </form>

        <!-- 点击修改 end -->

        <a href="#">
          <div class="per-self">
            My Account
          </div>
        </a>

      </div>
         <form method="post" class="am-form" enctype="multipart/form-data" id="userinfo">
  {% csrf_token %}
      <div class="a-box-right">
        <h4>My Account</h4>
        <div class="edit-tip">View and edit your personal info below.</div>
        <hr>
        <div class="edit-email">
          <p class="edit-title">Login Email:</p>
          <div class="edit-per-email">
            {{ user.email }}
            <div class="edit-tip-box">
              <a class="edit-tip-img"><img src="/static/img/tip.png" ></a>
              <div class="edit-email-tip">You login email can't be changed.</div>
            </div>
          </div>
        </div>
        <div class="edit-basic-info">
          <div class="basic-box">
            <p class="edit-title">First Name</p>
            <input class="basic-input" type="text" name="firstname" value="{{ user.firstname }}" required="required">
          </div>
          <div class="basic-box">
            <p class="edit-title">Last Name</p>
            <input class="basic-input" type="text"  name="lastname" value="{{ user.lastname }}" required="required">
          </div>
        </div>
        <div class="edit-basic-info">
          <div class="basic-box" style="width: 100%;">
            <p class="edit-title">lanague
            </p>
            <input class="basic-input" type="text" placeholder="e.g:Engish"  name="lanague" value="{{ user.lanague }}" required="required">
          </div>
          <div class="basic-box" style="width: 100%;">
            <p class="edit-title">label
            </p>
              <select name="label" class="basic-input">
                  <option value="0" selected>Sports</option>
                  <option value="1">Music</option>
                  <option value="2">Cood</option>
              </select>
          </div>
          <!-- 一行单个的样式 start -->
          <div class="basic-box" style="width: 100%;">
            <p class="edit-title">Phone
            </p>
            <input class="basic-input" type="text" placeholder="e.g,+ 1415-189-9090"  name="phone" value="{{ user.phone }}" required="required">
          </div>
          <!-- 一行单个的样式 end -->
        </div>
        <div class="edit-basic-info">
          <div class="basic-box">
            <a>
              <div class="upload-info-btn" id="upload" onclick="submit()">
                Upload Info
              </div>
              <!-- 点击提交后的样式 start -->
              <div class="upload-info-btn" id="updated" >
                <img src="/static/img/ok.png" class="upload-ok">
                Updated
              </div>
              <!-- 点击提交后的样式 end -->
            </a>
          </div>
          <div class="basic-box" id="cancel">
            <div class="upload-info-cancel">
              <a href="">Cancel</a>
            </div>
          </div>
        </div>
      </div>
             </form>
    </div>

  </div>
{%endblock content%}

{%block endscript%}
<script>
    $('#edit-info-click').hide();
    $('.click-more-nav').click(function(){
      $('.more-nav').show();
    })

    $("#upload").click(function(){
      $("#updated").show();
      $(this).hide();
    })
    $('#note-more').click(function(){
      $('#edit-info-click').toggle();
    });
    $("#edit-info-click").click(function () {
      $("#now-info").hide();
      $("#edit-info").show();
    })

    $(".per-edit-cancel").click(function () {
        $("#now-info").show();
        $("#edit-info").hide();
        $('#edit-info-click').hide();

      })

      $(".per-edit-confirm").click(function () {
          $("#now-info").show();
          $("#edit-info").hide();
          $('#edit-info-click').hide();

        })
     function change(obj) {
        console.log("change");
        var nf = obj.cloneNode(true);
        nf.value = ''; // 设计新控件value为空
        obj.parentNode.replaceChild(nf, obj);

        var file = obj.files[0];
        var reader = new FileReader();
        reader.onload = function (e) {
          $('#edit-avatar').attr('src', e.target.result);
        }
        reader.readAsDataURL(file);
         $('#file').val(file);
      }

    function submit(){
       $('#userinfo').submit();
    }
  </script>


{%endblock endscript%}